.home {
    &-section {
        padding: 120px 0;
        height: $sec-height;

        &.active {
            display: flex;
        }
    }

    &-image {

        &-box {
            max-width: 360px;
            background-color: $white-alpha-25;
            border-radius: 50%;
            border: 8px solid $white-alpha-25;
            margin: auto;

            img {
                width: 100%;
                border-radius: 50%;
            }
        }
    }

    &-image,
    &-content {
        width: 50%;
        padding: 15px;
    }

    &-introduce {
        font-size: 18px;
        letter-spacing: 1.5px;
    }

    &-name {
        font-size: 50px;
        text-transform: capitalize;
        font-weight: 600;
    }

    &-job {
        font-size: 20px;
        font-weight: 300;
        text-transform: capitalize;
        margin: 0 0 30px;
        letter-spacing: 1.5px;
    }

    &-button {
        margin-bottom: 15px;

        &-link {
            margin: 0 15px 15px 0;
        }
    }

    &-social {
        a {
            margin-left: 10px;
        }
    }
}