@media screen and (max-width: 991px) {
   .container {
      padding: 0;
   }

   .home {

      &-content,
      &-image {
         width: 100%;
         transition: all 0.2s linear;
      }

      &-content {
         text-align: center;
      }

      &-image {
         transition: all 0.2s linear;
         order: -1;
         width: 250px;
         margin-left: auto;
         margin-right: auto;

         &-box {
            max-width: 300px;
         }
      }

      &-button {
         &-link {
            margin: 0 7px 15px;
         }
      }
   }

   .portfolio {
      &-item {
         transition: all 0.2s linear;
         width: calc(50% - 30px);

         &-thumbnail {
            img {
               height: 100%;
            }
         }
      }
   }
}

@media screen and (max-width: 767.98px) {
   .home {
      &-name {
         font-size: 42px;
         transition: all 0.2s linear;
      }
   }

   .about {

      &-image,
      &-content {
         width: 100%;
      }

      &-content {
         margin-top: 30px;
      }
   }

   .portfolio {
      &-item {
         transition: all 0.2s linear;
         width: calc(100% - 30px);
      }

      &-popup {
         &-inner {
            padding: 30px 15px;
         }

         &-content {
            padding: 60px 50px 30px 50px;
         }
      }
   }

   .contact {

      &-form,
      &-info {
         width: 100%;
      }

      &-info {
         order: -1;
         margin-bottom: 15px;
         transition: order 0.2s linear;

         &-item {
            padding: 0;
         }
      }
   }

   .nav {
      &-link {
         font-size: 35px;
      }
   }
}

@media screen and (max-width: 575px) {
   .home {
      &-section {
         padding: 30px 0 20px 0;
      }

      &-image {
         transition: all 0.2s linear;
         max-width: 220px;
      }
   }

   .section {
      &-title {
         h2 {
            font-size: 35px !important;
            transition: font-size 0.2s ease-in;
         }
      }
   }

   .nav {
      &-link {
         font-size: 30px;
      }
   }

   .home {
      &-name {
         font-size: 30px;
         font-weight: 500;
         transition: font-size 0.2s ease-in;
      }

      &-job {
         font-size: 18px;
         transition: font-size 0.2s ease-in;
      }
   }

   .portfolio {

      &-popup {
         &-title {
            font-size: 22px;
            transition: font-size 0.2s ease-in;
         }
      }
   }
}